{% extends 'app/base.html' %}
{% load static %}

{% block title %}Выход{% endblock %}

{% block content %}
<div class="content">
    <div class="auth-container">
        <div class="auth-boxx">
            <h2 class="section-title">Выход</h2>
                <p>Вы уверены, что хотите выйти?</p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button_lk">Выйти</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}